<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @client.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Details:</strong>
  <%= @client.details %>
</p>

<p>
  <strong>Vehicle registration plate:</strong>
  <%= @client.vehicle_registration_plate %>
</p>

<p>
  <strong>Vehicle brand:</strong>
  <%= @client.vehicle_brand %>
</p>

<p>
  <strong>Vehicle model:</strong>
  <%= @client.vehicle_model %>
</p>

<p>
  <strong>Vehicle model details:</strong>
  <%= @client.vehicle_model_details %>
</p>

<p>
  <strong>Vehicle life cycle:</strong>
  <%= @client.vehicle_life_cycle %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
