<%= form_with(model: service_appointment, local: true) do |form| %>
  <% if service_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_appointment.errors.count, "error") %> prohibited this service_appointment from being saved:</h2>

      <ul>
      <% service_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :service_appointment_title %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :service_appointment_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :service_appointment_end_time %>
  </div>

  <div class="field">
    <%= form.label :appointment_details %>
    <%= form.text_area :appointment_details, id: :service_appointment_appointment_details %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :service_appointment_client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
