<p id="notice"><%= notice %></p>

<h1>Service Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Appointment details</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_appointments.each do |service_appointment| %>
      <tr>
        <td><%= service_appointment.title %></td>
        <td><%= service_appointment.start_time %></td>
        <td><%= service_appointment.end_time %></td>
        <td><%= service_appointment.appointment_details %></td>
        <td><%= service_appointment.client %></td>
        <td><%= link_to 'Show', service_appointment %></td>
        <td><%= link_to 'Edit', edit_service_appointment_path(service_appointment) %></td>
        <td><%= link_to 'Destroy', service_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Appointment', new_service_appointment_path %>
