<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @service_appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @service_appointment.end_time %>
</p>

<p>
  <strong>Appointment details:</strong>
  <%= @service_appointment.appointment_details %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @service_appointment.customer %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @service_appointment.completed %>
</p>

<%= link_to 'Edit', edit_service_appointment_path(@service_appointment) %> |
<%= link_to 'Back', service_appointments_path %>
