<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle make:</strong>
  <%= @vehicle.vehicle_make %>
</p>

<p>
  <strong>Vehicle category:</strong>
  <%= @vehicle.vehicle_category %>
</p>

<p>
  <strong>Vehicle model:</strong>
  <%= @vehicle.vehicle_model %>
</p>

<p>
  <strong>Vehicle condition:</strong>
  <%= @vehicle.vehicle_condition %>
</p>

<p>
  <strong>Vehicle registration date:</strong>
  <%= @vehicle.vehicle_registration_date %>
</p>

<p>
  <strong>Vehicle engine:</strong>
  <%= @vehicle.vehicle_engine %>
</p>

<p>
  <strong>Vehicle power:</strong>
  <%= @vehicle.vehicle_power %>
</p>

<p>
  <strong>Vehicle drive type:</strong>
  <%= @vehicle.vehicle_drive_type %>
</p>

<p>
  <strong>Vehicle fuel type:</strong>
  <%= @vehicle.vehicle_fuel_type %>
</p>

<p>
  <strong>Vehicle doors:</strong>
  <%= @vehicle.vehicle_doors %>
</p>

<p>
  <strong>Vehicle color:</strong>
  <%= @vehicle.vehicle_color %>
</p>

<p>
  <strong>Vehicle interior type:</strong>
  <%= @vehicle.vehicle_interior_type %>
</p>

<p>
  <strong>Vehicle airbags:</strong>
  <%= @vehicle.vehicle_airbags %>
</p>

<p>
  <strong>Vehicle euroclass:</strong>
  <%= @vehicle.vehicle_euroclass %>
</p>

<p>
  <strong>Vehicle price:</strong>
  <%= @vehicle.vehicle_price %>
</p>

<p>
  <strong>Vehicle life cycle:</strong>
  <%= @vehicle.vehicle_life_cycle %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
